<h2>LISTING</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Daily Rate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>A</td>
      <td>10000</td>
    </tr>
    <tr>
      <td>B</td>
      <td>20000</td>
    </tr>
    <tr>
      <td>C</td>
      <td>30000</td>
    </tr>
  </tbody>
</table>
